{% extends 'main/layout.html' %}
{% load static %}

{% block title %}Периоды{% endblock %}
{% block js %} {% static 'main/js/script.js' %} {% endblock %}

{% block content %}
<div class="center_body">
	{% if user.is_superuser == 1 %}
		<div class="container_form">
			<form id="forms" method="post">
				{% csrf_token %}
				<label>
					Период
					<div  class="decision_input">
						{{period_Form.period}}
						<span>{{ error }}</span>
					</div>
				</label>
				<button type="submit"> Внести данные </button>
			</form>
		</div>
	{% endif %}
	<div class="container_table">
		<form id="forms_table" name="Md_Period" method="post" action="{% url 'delete_records' %}">
			{% csrf_token %}
			<div class="toolbar">
				<div class="search" {% if user.is_superuser == 0 %} style="flex: 0 0 100%;" {% endif %}>
					<img src="{% static 'main/img/search.png' %}">
					<input id="search_index" placeholder="Поиск">
				</div>
				{% if user.is_superuser == 1 %}<button id="delete-selected-btn" class="btn btn-danger" type="submit"> Удалить </button>{% endif %}
			</div>
			<table class="table" id="info-table">
				<thead>
					<tr>
						<th><input id="th_checkbox" type="checkbox"></th>
						<th>Период</th>
						{% if user.is_superuser == 1 %}<th>Изменить</th>{% endif %}
					</tr>
				</thead>
				<tbody id="tbody">
				{% for element in Md_Period %}
					<tr>
						<th><input type="checkbox" name="tb_checkbox" id="tb_checkbox" value="{{element.id_period}}"></th>
						<td>{{element.period}}</td>
						{% if user.is_superuser == 1 %}<td><a href="{% url 'update_period' element.id_period %}" class="btn btn-primary" type="button">Изменить</a></td>{% endif %}
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</form>
	</div>
</div>
{% endblock %}
